#show-contact {
    display: none;
}

#contacts li span {
    color: blue;
}

#contacts li span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.linkify {
  color: blue;
}

.linkify:hover {
  text-decoration: underline;
  cursor: pointer;
}

.new-address:nth-child(n + 2) {
  display: none;
}
